<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/myntra_logo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Online Shopping for Women, Men, Kids Fashion & Lifestyle - Myntra</title>
    <link rel="stylesheet" href="/style.css"/>

</head>
<body>
    <div class="container">

        <div class="header">

            <div id="myntra-logo">
                <img src="/myntra_logo.png" style="cursor: pointer; height: 3.5rem; width: 3.5rem;"/>
            </div>

            <div class="shopping-categories">
                <div id="nav-men" class="nav-action">Men</div>
                <div id="nav-women" class="nav-action">Women</div>
                <div id="nav-kids" class="nav-action">Kids</div>
                <div id="nav-lifestyle" class="nav-action">Home & Living</div>
                <div id="nav-beauty" class="nav-action">Beauty</div>
                <div id="nav-studio" class="nav-action">Studio</div>
            </div>

            <div class="search-bar">
                <div class="search-bar-nav" style="cursor:pointer"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="search-bar-nav"><input type="text" id="search-space" placeholder="Search for products" size="30rem" class="color-field"></div>
            </div>

            <div class="shopping-actions">
                <div class="profile shopping-actions-nav">
                    <i class="fa-regular fa-user"></i>
                    <p style="font-weight: bold;">Profile</p>
                </div>
                <div class="wishlist shopping-actions-nav">
                    <i class="fa-regular fa-heart"></i>
                    <p style="font-weight: bold;">Wishlist</p>
                </div>
                <div class="bag shopping-actions-nav">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <p style="font-weight: bold;">Bag</p>
                </div>
            </div>
        </div>
