<%-include("includes/head.ejs");%>

        <div class="fashion-spy-banner">
            <img src="/fashion_spy_poster.png" id="fashion-spy-poster" style="height:25rem; width:25rem;"/>
        </div>

        <div class="blog">
            <div class="blog-content-header">
                <h1><%=blogTitle.toUpperCase()%></h1>
            </div>

            <br><br>
            
            <div class="blog-content-main"><%=blogContent%></div>

            <div class="blog-content-footer">Be Fashionable, Be Myntraites!</div>
        </div>

        <div class="footer">
            <%-include("includes/chatbot.ejs")%>
        </div>
    </div>
</body>
</html>