<%-include("includes/head.ejs");%>
        <div class="main">
            <div class="myntra-first-purchase">
                <div id="flat-off">FLAT &nbsp; <i class="fa-solid fa-indian-rupee-sign"></i> 400 OFF!</div>
                <div id="first-purchase">On Your First Purchase Via &nbsp;
                    <img src="/myntra_logo.png" style="height: 2rem; width: 2rem;"/> &nbsp; App!
                </div>
            </div>
            <div class="myntra-poster"><img src="/myntra_poster.png" style="width:98%; cursor: pointer; margin-top: 1rem;"/></div>
            <div class="myntra-monsoon-coupons">Myntra Monsoon Coupons</div>
        </div>

        <form action="/myntra/blog" method="get">
            <img id="fashion-spy-avatar" src="/fashion_spy_avatar.png"/>
        </form>

        <form action="/myntra/blog" method="get">
            <div id="fashion-spy-text">Fashion Spy: Your Daily Fashion Bits!</div>
        </form>

        <img id="bell-icon" src="/bell_icon.png"/>
    </div>
</body>
</html>